asspath
*.project
**/*.settings
**/bin/*
**/lib/*
*.ipr
*.iws
*.iml
**/*.iml
#
.DS_Store
/.gradle
**/.gradle/*
#
offers.txt
out/*
**/build/*
!.gitignore
**/out/*
!.gitignore
offer-location-service/.idea
soakTest/.idea
**/target
offer-location-service/o2pm-nucleus.log
target
.idea
.idea/*
*/.idea/*

